@import url('https://fonts.googleapis.com/css?family=Abel|Barlow+Condensed|Dosis&display=swap');

.landing {
  display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Dosis', sans-serif;
        color: #1565C0;
        background: url(mountain_background.jpg);
        background-size: auto;
        background-repeat: no-repeat;
        background-size: cover;
        height: 50rem
}

form {
  display: flex;
  flex-direction: column;
}

button {
  font-family: 'Dosis', sans-serif;
  color: #1565C0;
  padding: .5rem;
  border-radius: .25rem;
  font-size: 1rem
}

h1 {
  font-size: 5rem;
  opacity: 0.75;
}

input {
  font-family: 'Dosis', sans-serif;
  color: #1565C0;
  padding: .5rem;
  border-radius: .25rem;
  font-size: 1rem
}

#sign-in {
  margin-top: .5rem
}

#sign-up-suggestion {
  align-self: center
}

#password-input {
  margin-top: .25rem
}