@import url('https://fonts.googleapis.com/css?family=Abel|Barlow+Condensed|Dosis&display=swap');

.trails {
    font-family: 'Dosis', sans-serif;
    color: #1565C0;
}


.trail-title  {
    font-family: Dosis;
    margin-left: 2rem;
    font-weight: 100;
    font-size: 2rem
    
}

.trails-navbar {
    box-shadow: 0px 2px  rgb(88, 86, 86);
}

.navbar-ul {
    list-style-type: none;
    display: flex;
    padding: 1rem;
    margin: 0rem 0rem;
    justify-content: flex-end;
    background-color: rgb(150, 146, 146);
}

.navbar-li {
    display: flex;
    padding: 1rem;
    font-size: 1.5rem;
}

.navbar-li:hover {
    display: flex;
    padding: 1rem;
    cursor: pointer;
    color: #1565C0;
    box-shadow: 0px 2px  #1565C0;
}


/* .resorts-scroll {
    list-style-type: none;
    margin-top: 0rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;

} */

.resort-trails-ul {
    width: 25rem;
    display: block;
    height: 40rem;
    overflow-y: scroll;
    text-align: center;
    background-color: white;
    border-radius: .25rem;
    padding-left: 0rem
}


.trail-title {
    margin: 0rem;
    font-weight: 100;
    font-size: 2rem;
    background-color: rgb(0, 187, 255);
    padding: 1rem;
    /* box-shadow: 0 10px 5px 10px  rgba(0,0,0,.47) */
}

.trails-scroll {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 110%;
    background-color: white;
    border-radius: .25rem;
    width: 29rem;
}

.weather {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 110%;
    background-color: white;
    border-radius: .25rem;
    width: 29rem;
    align-items: center;
    vertical-align: middle
    /* position:fixed;
    top: 20px */
}


.resorts-scroll {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10rem;
    font-size: 130%;
    background-color: lightgray;
    /* position:fixed;
    top: 20px */
}



.resort-weather-ul {
    width: 22rem;
    display: block;
    height: 40rem;
    padding: 1em;
    overflow-y: scroll;
    text-align: center;
    background-color: white;
    border-radius: .25rem;
    margin-top: 8rem

}

.t {
    align-self: center
}

.trail-header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: solid #1565C0
}